/vim/.vim/*/
scripts/bin/*/
scripts/bin/android-studio
scripts/bin/create-death-droplet.sh
scripts/bin/eclipse
scripts/bin/netbeans
tags
.netrwhist
*~
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/packages/
config.fish
/config.vim
/config.tmux
/README.html
