! Title: Xresources
! Author: Maxwell Haley
! Description: URxvt and Rofi customization with Bad Wolf colour scheme 
! and Hack font. See README.md for more information.
!
! This file is licensed under UNLICENSE. See UNLICENSE for more details
! or visit http://unlicense.org

! Xft Settings
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! URxvt Settings
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.shading:              20
URxvt.transparent:          false
URxvt.fading:               20
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
URxvt*font:                 xft:Hack:pixelsize=14
URxvt*boldFont:             xft:Hack:pixelsize=14

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Special
*.foreground:   #f8f6f2
*.background:   #141413
*.cursorColor:  #0a9dff

! Black
*.color0:       #242321
*.color8:       #857f78

! Red
*.color1:       #ff2c4b
*.color9:       #ff9eb8

! Green
*.color2:       #82ee00
*.color10:      #aeee00

! Yellow
*.color3:       #88633f
*.color11:      #c7915b

! Blue
*.color4:       #0a9dff
*.color12:      #69c3ff

! Magenta
*.color5:       #964eff
*.color13:      #ba8aff

! Cyan
*.color6:       #0affd9
*.color14:      #93ffee

! White
*.color7:       #858382
*.color15:      #bbb9b7
 
! ROFI Color theme
rofi.color-enabled: true
rofi.color-window: #101010, #202020, #000000
rofi.color-normal: #101010, #d2c5bc, #202020, #356579, #0d0d0d
rofi.color-active: #81957c, #a7b79a, #202020, #356579, #101010
rofi.color-urgent: #b91e2e, #d2c5bc, #202020, #dc322f, #fdf6e3
