!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
URxvt*font: xft:Hack:pixelsize=14
URxvt*boldFont: xft:Hack:pixelsize=14

! Fix font space
!URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! special
 *.foreground:   #d2c5bc
 *.background:   #101010
 *.cursorColor:  #d2c5bc

! ! black
 *.color0:       #202020
 *.color8:       #606060

! ! red
 *.color1:       #b91e2e
 *.color9:       #d14548

! ! green
 *.color2:       #81957c
 *.color10:      #a7b79a

! ! yellow
 *.color3:       #f9bb80
 *.color11:      #fae3a0

! ! blue
 *.color4:       #356579
 *.color12:      #7491a1

! ! magenta
 *.color5:       #2d2031
 *.color13:      #87314e

! ! cyan
 *.color6:       #0b3452
 *.color14:      #0f829d

! ! white
 *.color7:       #909090
 *.color15:      #fff0f0
