#  ________  ____   ___   __            
# |_   _|  \/  | | | \ \ / /            
#   | | | .  . | | | |\ V /             
#   | | | |\/| | | | |/   \             
#   | | | |  | | |_| / /^\ \            
#   \_/ \_|  |_/\___/\/   \/            
#  _____ _____ _   _ ______ _____ _____ 
# /  __ \  _  | \ | ||  ___|_   _|  __ \
# | /  \/ | | |  \| || |_    | | | |  \/
# | |   | | | | . ` ||  _|   | | | | __ 
# | \__/\ \_/ / |\  || |    _| |_| |_\ \
#  \____/\___/\_| \_/\_|    \___/ \____/
#
# Configuration file for tmux, the terminal multiplexer
#
# References:
# - https://github.com/tmux-plugins/tmux-sensible

# Plugins {{{

# Need to set plugins using this syntax because my config is loaded using the
# -f flag.
# Plugin list:
# - tpm: tmux package mangager
# - nord-tmux: Nord theme for tmux
set -g @tpm_plugins '\
  tmux-plugins/tpm \
  arcticicestudio/nord-tmux \
'
# }}}
# General Settings {{{

# Set the prefix key to C-a instead of C-b. I find C-a much more comfortable
# for my resting hand position.
set -g prefix C-a

# Override the terminal options to support 256 truecolour
set -g default-terminal "xterm-256color"
set -g terminal-overrides ',xterm-256color:Tc'

# Prevents the noticable lag in (Neo)vim when switching between modes. 
# https://superuser.com/questions/252214/slight-delay-when-switching-modes-in-vim-using-tmux-or-screen/252717#252717
set -sg escape-time 0

# Increase scrollback buffer size. The amount of times the buffer size has made
# me have to pipe output to `less` hurts my soul.
set -g history-limit 50000

# Display messages for much longer (a whole four seconds!!)
set -g display-time 4000

# Use vi-like keybindings when in copy mode.
setw -g mode-keys vi

# Allow the use of the mouse to manipulate panes, copy text, etc.
setw -g mouse on

# }}}
# Key bindings {{{

# Unbind C-b since it is not going to be used for the prefix.
unbind-key C-b

# Vim-like keys for traversing tmux panes. Much more comfortable and
# familiar than using the arrow keys.
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Vim-like keys for resizing. Uses Alt+Shift instead of the tmux prefix for 
# rapid resizing.
bind -n M-H resize-pane -L 5
bind -n M-J resize-pane -D 5
bind -n M-K resize-pane -U 5
bind -n M-L resize-pane -R 5

# Binds for quick window splitting.
bind-key v split-window -h
bind-key b split-window

# Quick reload of the tmux configuration file.
bind r source-file ~/.config/tmux/tmux.config

# }}}
# Visuals {{{

# Disable using the powerline patched font as part of the Nord theme.
set -g @nord_tmux_no_patched_font "1"

# }}}

run '~/.tmux/plugins/tpm/tpm'

# vim:foldmethod=marker:foldlevel=0:filetype=tmux
