set -g prefix C-a
unbind-key C-b

set -g default-terminal "xterm-256color"
set -g terminal-overrides ',xterm-256color:Tc'

# hjkl pane traversal
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
bind-key v split-window -h
bind-key b split-window

bind-key r source-file ~/.tmux.conf \; display-message "Config reloaded!"
